/*CSS selector for HTML Tag*/
h1 {
    color: rgb(232, 105, 127); 
}

h2 {
    color: rgb(250, 147, 214);
}

/*Class used on multiple elements; this is the main sections*/
.section {
    background-color: #ffd6e8;

    /*Box Model Property on Class*/
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
}

/*Centering show image*/
.show-image {
    display: block;
    margin: 15px auto;
    width: 250px;
    border-radius: 10px;
}

/*Campus & Austin Life section*/
.campus-life {
    background-color: rgba(250, 208, 245, 0.877);
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
}

.campus-life img { 
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}


/*Using ID and styling it*/
#header {
    text-align: center;
    font-size: 36px;
}

/*Selector used to change color of <a> when hover*/
a:hover {
    color: purple;
}
a {
    text-decoration: none;
    font-weight: bold;
}

img {
    display: block;
    margin: 15px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}